html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.UserCred {
  font-family: sans-serif;
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  background-color: orange;
  z-index: 10;
}
canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}
.colorSelect {
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
}