html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.UserCred {
  font-family: sans-serif;
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  background-color: orange;
  z-index: 10;
}
canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}
.colorSelect {
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.preload {
  z-index: 100;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  background: #ffbd17;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size 36px;
}

.preloadText {
  flex: 0 0 auto;
}