{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React Local</title>

   <link href="{% static 'yapd/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<div id="root"></div>
{% csrf_token %}
<script type="application/javascript">
const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
const pixel_websocket_url = 'ws://'+window.location.host+'/ws/pixel_updater/';
const get_grid_size_url = "{% url 'get_grid_size' %}";
const frontend_url = "{% url 'frontend' %}";
const login_url = "{% url "login" %}";
const set_pixel = "{% url "change_color" %}";

</script>
<script src="{% static "yapd/main.js" %}">
<script type="text/babel">
</script>


</body>

</html>