<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React Local</title>
  <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
</head>

<body>
  <div id="root"></div>

<script type="text/babel">
var lastX, lastY;
var isMouseDown = false;
class Canvas extends React.Component {
  constructor(props){
    super(props);
    this.x = 0;
    this.y = 0;
    this.size = 0;
    this.grids = {}
  }
  move(additionalX, additionalY) {
    this.x += additionalX
    this.y += additionalY
  }
  render() {
    return (
      <canvas ref='canvas' width={window.innerWidth} height={window.innerHeight} onMouseMove={(evt) =>
      {
        if(isMouseDown){
          evt.persist();
          var curX = evt.clientX;
          var curY = evt.clientY;
          this.move(curX - lastX, curY - lastY);
          lastY = curY;
          lastX = curX;
          this.forceUpdate()
        }
      }}
      onMouseDown={(evt) => {
         isMouseDown = true;
         lastX = evt.clientX;
         lastY = evt.clientY;

      }}
      onMouseUp={(evt) => {
        isMouseDown = false;
      }}
      onWheel={(evt) => {
        evt.persist();
        if (evt.deltaY > 0)
        {
          if (this.size < 9)
             this.size = this.size + 1
        }
        if (evt.deltaY < 0)
        {
          if (this.size > 0)
             this.size = this.size - 1
        }
      }}>
      </canvas>
    );
  }
  async componentDidMount() {
    this.gridData = await fetch("{% url "get_grid_size" %}");
    this.gridData = await this.gridData.json();
    this.gridData = JSON.parse(this.gridData);
    console.log(this.gridData);
    for(var i = 0; i < 10; i++)
      this.grids[i] = Array(this.gridData[i][0], this.gridData[i][1]);
    console.log(this.grids)
  }
  componentDidUpdate() {
    var canvas = this.refs.canvas.getContext("2d");
    canvas.fillStyle = "blue";
    canvas.fillRect(0, 0, 200, 200)
    canvas.fillStyle = "black";
    canvas.fillRect(this.x, this.y, 50, 50);
  }
}

    ReactDOM.render(
      <Canvas />,
      root
    )
</script>

</body>

</html>